Some((name:"Mathematical Constants",cards:[(card:(front:"The first five digits of Pi are [...]",back:"3.1415",fsrs_item:(reviews:[]),last_review:None)),(card:(front:"Euler\'s number (constant e) is [...]",back:"2.718281828",fsrs_item:(reviews:[]),last_review:None)),(card:(front:"The golden ratio (Phi) is [...]",back:"1.6180339887",fsrs_item:(reviews:[]),last_review:None)),(card:(front:"The avogadro\'s constant is [...]",back:"6.02214076 x 10^23",fsrs_item:(reviews:[]),last_review:None)),(card:(front:"The first five digits of the square root of 2 are [...]",back:"1.4142",fsrs_item:(reviews:[]),last_review:None))]))
